# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage
*.lcov
.nyc_output

# Production
/build
/dist
/.next
/out

# Expo
.expo
.expo-shared
dist
npm-debug.*

# IDE
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Temporary
*.tmp
*.temp
.cache

# Mobile builds
android/
ios/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
